@media screen and (max-width:720px) {
    .mainArea h3{font-size: 2.250rem; font-weight: 700; color: white; line-height: 2.500rem; margin-bottom: 3.125rem;}
    .mainArea [class*="paddingBox"]{padding: 0;}

    .mainArea{padding-top: 10.000rem; padding-bottom: 2rem; background-color: #1d1d1d; position: relative;}
    .mainArea::before{content: ''; position: absolute; left: 0; top: 16.250rem; width: 100%; height: 27.813rem; background: url('../images/BG01.png') no-repeat center / cover; z-index: 1;}
    .mainArea::after{content: ''; position: absolute; left: 0; top: 33.750rem; width: 100%; height: 36.125rem; background: url('../images/m_BG02.png') no-repeat center / cover;}

    .mainArea .homeArea{position: relative; padding-bottom: 6.250rem;}
    .mainArea .homeArea h2{font-size: 3.250rem; font-weight: 700; color: #cccccc; line-height: 3.750rem; margin-bottom: 43.125rem; position: relative; z-index: 2;}
    .mainArea .homeArea .LGLogoBox{margin-bottom: 2.500rem;}
    .mainArea .homeArea .LGLogoBox img{width: 9.063rem;}
    .mainArea .homeArea p{font-size: 2.625rem; font-weight: 700; color: white; line-height: 3.125rem; max-width: 25.000rem; position: relative; z-index: 2;}
    .mainArea .homeArea p small{display: block; font-size: 1.625rem; font-weight: 300; color: rgba(255, 255, 255, 0.2); line-height: 1; margin-top: 2.188rem; white-space: nowrap;}
    .mainArea > .imgArea{position: absolute; top: 30.313rem; right: 0; width: 95%; z-index: 1;}
    .mainArea > .imgArea img{width: 100%;}

    .mainArea .introduceArea{margin-bottom: 7.500rem;}
    .mainArea .introduceArea ul{display: flex; flex-wrap: wrap; justify-content: space-between; margin-bottom: 2.500rem;}
    .mainArea .introduceArea ul li{width: 48.3%; font-size: 1.500rem; color: white;  padding-top: 12.500rem; text-align: center; background-repeat: no-repeat; background-position: left top; background-size: 100%;}
    .mainArea .introduceArea ul li:not(:nth-child(-n + 2)){margin-top: 2.188rem;}
    .mainArea .introduceArea ul li:nth-child(1){background-image: url('../images/introduceImg01.png');}
    .mainArea .introduceArea ul li:nth-child(2){background-image: url('../images/introduceImg02.png');}
    .mainArea .introduceArea ul li:nth-child(3){background-image: url('../images/introduceImg03.png');}
    .mainArea .introduceArea ul li:nth-child(4){background-image: url('../images/introduceImg04.png');}
    .mainArea .introduceArea p{font-family: 'NanumSquare'; font-size: 1.625rem; font-weight: 700; color: rgba(130, 130, 130, 0.6); line-height: 2rem; margin-bottom: 7.500rem;}
    .mainArea .introduceArea p b{font-weight: 800;}

    .mainArea .evolutionArea h3{position: relative; z-index: 2;}
    .mainArea .evolutionArea div ul{display: flex; flex-wrap: wrap;}
    .mainArea .evolutionArea div ul li{width: 50%; height: 18.750rem; display: flex; flex-direction: column; justify-content: center; align-items: center; color: white; text-align: center; position: relative;}
    .mainArea .evolutionArea div ul li::before{content: ''; position: absolute; left: 50%; top: 50%; width: 20.000rem; height: 20.000rem; border-radius: 100%; transform: translate(-50%,-50%); background-color: rgba(0, 34, 204, 0.95);}
    .mainArea .evolutionArea div ul li:nth-child(n + 2):nth-child(-n + 3)::before{background-color: rgba(0, 34, 204, 0.6);}
    .mainArea .evolutionArea div ul li *{position: relative; z-index: 2;}
    .mainArea .evolutionArea div ul li strong{font-size: 1.875rem; font-weight: 700; line-height: 2.188rem; display: flex; justify-content: center; align-items: center; margin-bottom: 2.188rem;}
    .mainArea .evolutionArea div ul li strong mark{color: #c01d3f;}
    .mainArea .evolutionArea div ul li p{font-size: 1.500rem; line-height: 2.125rem;}
    .mainArea .evolutionArea div > .imgBox{position: absolute; bottom: -4.063rem; left: 0; width: 95%; height: 36.875rem; background-image: url('../images/m_productImg02.png'); z-index: 1; }
    /* .mainArea .evolutionArea div > .imgBox img{width: 100%;} */



    .functionArea h3{margin-bottom: 2.813rem;}
    .functionArea .bx-wrapper .bx-viewport{ padding: 0 6.875rem; box-sizing: border-box;}
    .functionArea .bx-wrapper .bx-viewport .slider > div{padding: 20.313rem 1.563rem 1.563rem; background-color: #1d1d1f; background-repeat: no-repeat; background-position: right top; background-size: 100%; font-size: 1.625rem; color: white; opacity: 0.5; margin-right: 2.500rem;}
    .functionArea .bx-wrapper .bx-viewport .slider > div.slider01{background-image: url('../images/m_function_img01.png');}
    .functionArea .bx-wrapper .bx-viewport .slider > div.slider02{background-image: url('../images/m_function_img01.png');}
    .functionArea .bx-wrapper .bx-viewport .slider > div.slider03{background-image: url('../images/m_function_img01.png');}
    .functionArea .bx-wrapper .bx-viewport .slider > div b{display: flex; align-items: center; font-weight: 600; margin-bottom: 3.125rem; }
    .functionArea .bx-wrapper .bx-viewport .slider > div b::before{content: ''; width: 0.625rem; height: 0.625rem; background-color: #0022cc; border-radius: 100%; margin-right: 0.750rem;}
    .functionArea .bx-wrapper .bx-viewport .slider > div p{font-weight: 700; line-height: 2.250rem; margin-bottom: 3.750rem;}
    .functionArea .bx-wrapper .bx-viewport .slider > div .LGLogoBox img{width: 6.563rem;}
    .functionArea .bx-wrapper .bx-viewport .slider > div[aria-hidden="false"]{opacity: 1;}
    .functionArea .bx-wrapper .bx-controls-direction a{display: none;}



    .productArea h3{margin-bottom: 2.813rem;}
    .productArea > div{position: relative; margin-bottom: 2.500rem;}
    .productArea > div > a{display: none;}
    .productArea > div > a:nth-of-type(1){left: -4.063rem;}
    .productArea > div > a:nth-of-type(2){right: -3.125rem;}
    .productArea > div > a img{width: 1.875rem;}
    .productArea .thumbPager{display: flex; align-items: center;}
    .productArea .thumbPager li:not(:last-child){margin-right: 2.188rem;}
    .productArea .thumbPager li a{display: block; font-size: 1.625rem; color: white; font-weight: 700; width: 1.250rem; height: 1.250rem; background-color: #0022cc; border-radius: 100%; text-indent: -9999px;}
    .productArea .thumbPager li a.active{text-indent: 0; width: auto; height: auto; padding: 1.750rem; border-radius: 6.250rem;}
    .productArea .slider img{margin: 0 auto;}
    .productArea .slider p{font-size: 1.625rem; font-weight: 600; line-height: 2.250rem;}


    .speciArea{background-color: #ededed;}
    .speciArea > div h3{margin-bottom: 2.500rem;}
    .speciArea > div .tabBtn{display: flex; margin-bottom: 7.500rem;}
    .speciArea > div .tabBtn button:not(:last-child){margin-right: 0.625rem;}
    .speciArea > div .tabBtn button{width: 14.688rem; height: 4.688rem; display: flex; justify-content: center; align-items: center; font-size: 1.625rem; font-weight: 700; color: white; background-color: #7e7e7e; border-radius: 6.250rem;}
    .speciArea > div .tabBtn button.active{background-color: #0022cc;}
    .speciArea > div .tabImg > img{display: none; max-width: 100%; margin: 0 auto 8.750rem;}
    .speciArea > div .tabImg > img.active{display: block;}
    .speciArea > div table caption{text-align: left; font-size: 2.250rem; font-weight: 700; margin-bottom: 1.250rem;}
    .speciArea > div table tbody{width: 100%;}
    .speciArea > div table tr{width: 100%; text-align: left;}
    .speciArea > div table tr *{font-size: 1.375rem; line-height: 1.625rem; letter-spacing: -0.063rem;}
    .speciArea > div table tr th:first-child{width: 10.938rem; font-weight: 700;}
    .speciArea > div table thead{display: none;}
    .speciArea > div table tbody{border-top: 0.188rem solid black;}
    .speciArea > div table tbody tr:not(:last-child){border-bottom: /* 0.063rem */1px solid black;}
    .speciArea > div table tbody tr > *{padding-top: 0.625rem; padding-bottom: 0.625rem;}
    .speciArea > div table tbody tr td{width: 26.563rem;}
    .speciArea > div table tr > *:nth-child(n + 2){display: none; padding-left: 0.625rem; padding-right: 0.625rem; box-sizing: border-box;}
    .speciArea > div table tr > *.active{display: block; background-color: white ;}
}

@media screen and (min-width:721px) {
    .mainArea h3{font-size: 4.063rem; font-weight: 700; color: white; line-height: 5.250rem; margin-bottom: 6.250rem;}

    .mainArea{padding-top: 16.250rem; padding-bottom: 16.250rem; background-color: #1d1d1d; position: relative;}
    .mainArea::before{content: ''; position: absolute; left: 0; top: 28.750rem; width: calc(100% - 3.750rem); max-width: 107.063rem; height: 63.438rem; background: url('../images/BG01.png') no-repeat center / cover; z-index: 1;}
    .mainArea::after{content: ''; position: absolute; left: 0; top: 74.063rem; width: 100%; height: 91.250rem; background: url('../images/BG02.png') no-repeat center / cover;}

    .mainArea .homeArea{position: relative; padding-bottom: 21.250rem;}
    .mainArea .homeArea h2{font-size: 5.875rem; font-weight: 700; color: #cccccc; line-height: 7.000rem;  margin-bottom: 63.61vw; position: relative; z-index: 2;}
    .mainArea .homeArea .LGLogoBox{position: absolute; right: 9.188rem; top: 6.250rem; text-align: right;}
    .mainArea .homeArea .LGLogoBox img{width: 9.375rem;}
    .mainArea .homeArea p{font-size: 5.000rem; font-weight: 700; color: white; line-height: 6.688rem; max-width: 49.688rem; margin-left: auto; position: relative; z-index: 2;}
    .mainArea .homeArea p small{display: block; font-size: 2.000rem; font-weight: 300; color: rgba(255, 255, 255, 0.2); line-height: 1; margin-top: 3.125rem;}
    .mainArea > .imgArea{position: absolute; top: 68.750rem; right: 0; width: 95%; z-index: 1;}
    .mainArea > .imgArea img{width: 100%;}

    .mainArea .introduceArea{margin-bottom: 15.000rem;}
    .mainArea .introduceArea ul{display: flex; justify-content: space-between; margin-bottom: 4.688rem;}
    .mainArea .introduceArea ul li{width: 22.5%; font-size: 1.875rem; color: white; padding-top: 17%; background-repeat: no-repeat; background-position: left top; background-size: 100%;}
    .mainArea .introduceArea ul li:nth-child(1){background-image: url('../images/introduceImg01.png');}
    .mainArea .introduceArea ul li:nth-child(2){background-image: url('../images/introduceImg02.png');}
    .mainArea .introduceArea ul li:nth-child(3){background-image: url('../images/introduceImg03.png');}
    .mainArea .introduceArea ul li:nth-child(4){background-image: url('../images/introduceImg04.png');}
    .mainArea .introduceArea p{font-family: 'NanumSquare'; font-size: 2.000rem; font-weight: 700; color: rgba(130, 130, 130, 0.6); line-height: 4.188rem;}
    .mainArea .introduceArea p b{font-weight: 800;}

    .mainArea .evolutionArea h3{position: relative; z-index: 2;}
    .mainArea .evolutionArea div{max-width: 112.500rem; margin: 0 auto;}
    .mainArea .evolutionArea div ul{display: flex; }
    .mainArea .evolutionArea div ul li{flex: 1; height: 31.563rem; display: flex; flex-direction: column; justify-content: center; align-items: center; color: white; text-align: center; position: relative;}
    .mainArea .evolutionArea div ul li::before{content: ''; position: absolute; left: 50%; top: 50%; width: 31.563rem; height: 31.563rem; border-radius: 100%; transform: translate(-50%,-50%); }
    .mainArea .evolutionArea div ul li:nth-child(2n + 1):before{background-color: rgba(0, 34, 204, 0.95);}
    .mainArea .evolutionArea div ul li:nth-child(2n):before{background-color: rgba(0, 34, 204, 0.6);}
    .mainArea .evolutionArea div ul li *{position: relative; z-index: 2;}
    .mainArea .evolutionArea div ul li strong{height: 6.250rem; font-size: 3.000rem; font-weight: 700; line-height: 3.125rem; display: flex; justify-content: center; align-items: center; margin-bottom: 4.688rem;}
    .mainArea .evolutionArea div ul li strong mark{color: #c01d3f;}
    .mainArea .evolutionArea div ul li p{font-size: 1.875rem; line-height: 2.125rem;}
    .mainArea .evolutionArea div > .imgBox{position: absolute; bottom: -9.063rem; left: 0; width: 95%; height: 90.000rem; background-image: url('../images/productImg02.png'); z-index: 1; }
    /* .mainArea .evolutionArea div > .imgBox img{width: 100%;} */



    .functionArea h3{margin-bottom: 4.688rem;}
    .functionArea .bx-wrapper .bx-viewport{ padding: 0 16.250rem; box-sizing: border-box;}
    .functionArea .bx-wrapper .bx-viewport .slider > div{padding: 6.875rem 50.938rem 6.875rem 3.125rem; height: 36.563rem; background-color: #1d1d1f; background-repeat: no-repeat; background-position: right top; background-size: 50.938rem; font-size: 1.875rem; color: white; opacity: 0.5; margin-right: 5.000rem; box-sizing: border-box;}
    .functionArea .bx-wrapper .bx-viewport .slider > div.slider01{background-image: url('../images/function_img01.png');}
    .functionArea .bx-wrapper .bx-viewport .slider > div.slider02{background-image: url('../images/function_img01.png');}
    .functionArea .bx-wrapper .bx-viewport .slider > div.slider03{background-image: url('../images/function_img01.png');}
    .functionArea .bx-wrapper .bx-viewport .slider > div b{display: flex; align-items: center; font-weight: 600; margin-bottom: 3.125rem;}
    .functionArea .bx-wrapper .bx-viewport .slider > div b::before{content: ''; width: 10px; height: 10px; background-color: #0022cc; border-radius: 100%; margin-right: 12px;}
    .functionArea .bx-wrapper .bx-viewport .slider > div p{font-weight: 700; line-height: 3.250rem; margin-bottom: 5.625rem;}
    .functionArea .bx-wrapper .bx-viewport .slider > div .LGLogoBox img{width: 7.188rem;}
    .functionArea .bx-wrapper .bx-viewport .slider > div[aria-hidden="false"]{opacity: 1;}
    .functionArea .bx-wrapper .bx-controls-direction a{z-index: 10; width: 4.375rem; height: 4.375rem;}
    .functionArea .bx-wrapper .bx-controls-direction .bx-prev{left: 9.375rem; background: url('../images/function_sliderPrev.png') no-repeat center / cover;}
    .functionArea .bx-wrapper .bx-controls-direction .bx-next{right: 9.375rem; background: url('../images/function_sliderNext.png') no-repeat center / cover;}



    .productArea h3{margin-bottom: 9.375rem;}
    .productArea > div{position: relative;}
    .productArea > div > a{position: absolute; top: 1.250rem; font-size: 3.125rem; font-weight: 900;}
    .productArea > div > a:nth-of-type(1){left: -4.063rem;}
    .productArea > div > a:nth-of-type(2){right: -3.125rem;}
    .productArea > div > a img{width: 1.875rem;}
    .productArea .thumbPager{display: flex; align-items: center;}
    .productArea .thumbPager li:not(:last-child){margin-right: 2.813rem;}
    .productArea .thumbPager li a{display: block; font-size: 1.875rem; color: white; font-weight: 700; width: 1.250rem; height: 1.250rem; background-color: #0022cc; border-radius: 100%; text-indent: -9999px;}
    .productArea .thumbPager li a.active{text-indent: 0; width: auto; height: auto; padding: 1.875rem 3.438rem; border-radius: 6.250rem;}
    .productArea .slider img{margin: 0 auto;}
    .productArea .slider p{font-size: 2.000rem; font-weight: 600; line-height: 3.500rem; position: absolute; left: 0; top: 4.375rem;}


    .speciArea{background-color: #ededed;}
    .speciArea > div h3{margin-bottom: 3.750rem;}
    .speciArea > div .tabBtn{display: flex; margin-bottom: 9.688rem;}
    .speciArea > div .tabBtn button:not(:last-child){margin-right: 1.875rem;}
    .speciArea > div .tabBtn button{width: 18.125rem; height: 5.938rem; display: flex; justify-content: center; align-items: center; font-size: 1.875rem; font-weight: 700; color: white; background-color: #7e7e7e; border-radius: 6.250rem;}
    .speciArea > div .tabBtn button.active{background-color: #0022cc;}
    .speciArea > div .tabImg > img{display: none; max-width: 100%; margin: 0 auto 12.813rem;}
    .speciArea > div .tabImg > img.active{display: block;}
    .speciArea > div table caption{text-align: left; font-size: 3.063rem; font-weight: 700; margin-bottom: 3.750rem;}
    .speciArea > div table tbody{width: 100%;}
    .speciArea > div table tr{width: 100%; text-align: left;}
    .speciArea > div table tr *{font-size: 1.500rem; line-height: 2.375rem;}
    .speciArea > div table tr th:first-child{width: 24.063rem; font-weight: 700;}
    .speciArea > div table tr > *:nth-child(n + 2){padding-left: 2.813rem; padding-right: 2.813rem; box-sizing: border-box;}
    .speciArea > div table thead{border-top: 0.188rem solid black;}
    .speciArea > div table thead th img{display: block; max-width: 100%;}
    .speciArea > div table thead tr > *{padding-top: 2.500rem; padding-bottom: 4.063rem;}
    .speciArea > div table tbody tr{border-top: /* 0.063rem */1px solid black;}
    .speciArea > div table tbody tr > *{padding-top: 1.250rem; padding-bottom: 1.250rem;}
    .speciArea > div table tr > *:not(:first-child){opacity: 0.3;}
    .speciArea > div table tr > .active{opacity: 1; background-color: #f5f5f5;}


    
    .mainArea .homeArea h2{animation: opacityAni 0.5s forwards; opacity: 0;}
    .mainArea .homeArea .LGLogoBox{animation: opacityAni 0.5s 0.8s forwards; opacity: 0;}
    .mainArea::before{animation: mainImg01 0.5s 0.4s forwards; left: -100%;}
    @keyframes opacityAni {
        0%{opacity: 0;}
        100%{opacity: 1;}
    }
    @keyframes mainImg01 {
        0%{left: -100%;}
        100%{left: 0%;}
    }

    .mainArea > .imgArea{overflow: hidden;}
    .mainArea > .imgArea img{transform: translateX(100%) translateY(-45.000em); transition: 0.5s transform;}
    .mainArea > .imgArea.scrollEvent img{transform: translateX(0%) translateY(0px);}
    .mainArea::after{opacity: 0; transition: 0.5s 0.4s opacity;}
    .mainArea.scrollEvent::after{opacity: 1;}
    .mainArea .homeArea p{opacity: 0; transition: 0.5s 0.8s opacity;}
    .mainArea .homeArea p.scrollEvent{opacity: 1;}

    [data-scrollEvent="opacity"]{opacity: 0; transition: 0.5s opacity;}
    .slider[data-scrollEvent="opacity"]{transition-property: all;}
    [data-scrollEvent="opacity"].scrollEvent{opacity: 1;}

    [data-scrollEvent="leftArea"] li{transform: translateX(-100%); opacity:0; transition-duration: 0.5s; transition-property:  transform , opacity;;}
    [data-scrollEvent="leftArea"].scrollEvent li{transform: translateX(0%); opacity:1;}

    /* .mainArea .evolutionArea div ul[data-scrollEvent] + .imgBox{overflow: hidden;} */
    .mainArea .evolutionArea div ul[data-scrollEvent] + .imgBox{transform: translateX(-100%) translateY(-73.125rem); transition: 0.5s 0.4s transform;}
    .mainArea .evolutionArea div ul[data-scrollEvent].scrollEvent + .imgBox{transform: translateX(0%) translateY(0px);}

    /* 
    .mainArea .introduceArea h3{opacity: 0; transition: 0.5s opacity;}
    .mainArea .introduceArea.scrollEvent h3{opacity: 1;}
    .mainArea .introduceArea ul li{transform: translateX(-100%); opacity: 0; transition: 0.5s transform , opacity;}
    .mainArea .introduceArea.scrollEvent ul li{transform: translateX(0%); opacity: 1;}
    .mainArea .introduceArea p{opacity: 0; transition: 0.5s;}
    .mainArea .introduceArea.scrollEvent p{opacity: 1;}
    */
}
