html{font-size: 0.83333vw;}

/* 컨텐츠 크기 */
.paddingBox{padding-left: 3.750rem; padding-right: 3.750rem; box-sizing: border-box;}
.paddingBox2{padding-left: 4.563rem; padding-right: 4.563rem; box-sizing: border-box;}
.paddingBox3{padding-left: 8.313rem; padding-right: 8.313rem; box-sizing: border-box;}

/* LG logo box */
.LGLogoBox figcaption{font-size: 1.500rem; color: white; font-weight: 500; margin-bottom: 0.938rem;}

/* img box */
.imgBox{background-repeat: no-repeat; background-position: center; background-size: cover;}

body > section{padding-top: 9.375rem; padding-bottom: 9.375rem;}
body > section h3{font-size: 4.313rem; font-weight: 700;}
body > section h3 small{display: block; font-size: 1.875rem; font-weight: 500; margin-top: 1.875rem;}

/* bxslider 초기화 */
.bx-wrapper{box-shadow: none; border: none; margin-bottom: 0;}


header{position: fixed; left: 0; top: 0; width: 100%; padding: 3.438rem 3.750rem 0; box-sizing: border-box; display: flex; justify-content: space-between; align-items: center; z-index: 100;}
header h1{max-width: 8.313rem;}
header h1 a{display: block;}
header h1 a img{width: 100%;}
header button{width: 5.375rem; height: 5.375rem; background-color: #0022cc; border-radius: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center;}
header button span{width: 1.563rem; height: 0.188rem; background-color: white;}
header button span:not(:last-child){margin-bottom: 0.625rem;}
header button span:nth-child(1){margin-right: 0.313rem;}
header button span:nth-child(2){margin-left: 0.313rem;}


footer{padding: 8.125rem 8.313rem; background-color: #1d1d1d; display: flex; justify-content: center; position: relative;}
footer div{position: absolute; padding: inherit; left: 0; top: 0; width: 100%; height: 100%; display: flex; justify-content: space-between; align-items: center; box-sizing: border-box; pointer-events: none;}
footer div img:nth-of-type(1){width: 8.313rem;}
footer div img:nth-of-type(2){width: 13.000rem;}
footer address{font-style: normal;}
footer address *{font-size: 2.000rem; color: white; line-height: 3.500rem;}
footer address > :is(a , dl) dt{font-weight: 700;}
footer address > *:not(:last-child){margin-bottom: 4.375rem;}
footer address dl{display: flex;}
footer address dl dt{width: 8.125rem;}
footer address > p{font-size: 1.500rem; opacity: 0.3;}




.mainArea h3{font-size: 4.063rem; font-weight: 700; color: white; line-height: 5.250rem; margin-bottom: 6.250rem;}

.mainArea{padding-top: 16.250rem; padding-bottom: 16.250rem; background-color: #1d1d1d; position: relative;}
.mainArea::before{content: ''; position: absolute; left: 0; top: 28.750rem; width: calc(100% - 3.750rem); max-width: 107.063rem; height: 63.438rem; background: url('../images/BG01.png') no-repeat center / cover; z-index: 1;}
.mainArea::after{content: ''; position: absolute; left: 0; top: 74.063rem; width: 100%; height: 91.250rem; background: url('../images/BG02.png') no-repeat center / cover;}

.mainArea .homeArea{position: relative; padding-bottom: 21.250rem;}
.mainArea .homeArea h2{font-size: 5.875rem; font-weight: 700; color: #cccccc; line-height: 7.000rem;  margin-bottom: 63.61vw; position: relative; z-index: 2;}
.mainArea .homeArea .LGLogoBox{position: absolute; right: 9.188rem; top: 6.250rem; text-align: right;}
.mainArea .homeArea p{font-size: 5.000rem; font-weight: 700; color: white; line-height: 6.688rem; max-width: 49.688rem; margin-left: auto; position: relative; z-index: 2;}
.mainArea .homeArea p small{display: block; font-size: 2.000rem; font-weight: 300; color: rgba(255, 255, 255, 0.2); line-height: 1; margin-top: 3.125rem;}
.mainArea > .imgBox{position: absolute; top: 68.750rem; right: 0; width: 95%; z-index: 1;}
.mainArea > .imgBox img{width: 100%;}

.mainArea .introduceArea{margin-bottom: 15.000rem;}
.mainArea .introduceArea ul{display: flex; justify-content: space-between; margin-bottom: 4.688rem;}
.mainArea .introduceArea ul li{width: 22.5%; font-size: 1.875rem; color: white; padding-top: 17%; background-repeat: no-repeat; background-position: left top; background-size: 100%;}
.mainArea .introduceArea ul li:nth-child(1){background-image: url('../images/introduceImg01.png');}
.mainArea .introduceArea ul li:nth-child(2){background-image: url('../images/introduceImg02.png');}
.mainArea .introduceArea ul li:nth-child(3){background-image: url('../images/introduceImg03.png');}
.mainArea .introduceArea ul li:nth-child(4){background-image: url('../images/introduceImg04.png');}
.mainArea .introduceArea p{font-family: 'NanumSquare'; font-size: 2.000rem; font-weight: 700; color: rgba(130, 130, 130, 0.6); line-height: 4.188rem;}

.mainArea .evolutionArea h3{position: relative; z-index: 2;}
.mainArea .evolutionArea div{max-width: 112.500rem; margin: 0 auto;}
.mainArea .evolutionArea div ul{display: flex; }
.mainArea .evolutionArea div ul li{flex: 1; height: 31.563rem; display: flex; flex-direction: column; justify-content: center; align-items: center; color: white; text-align: center; position: relative;}
.mainArea .evolutionArea div ul li::before{content: ''; position: absolute; left: 50%; top: 50%; width: 31.563rem; height: 31.563rem; border-radius: 100%; transform: translate(-50%,-50%); }
.mainArea .evolutionArea div ul li:nth-child(2n + 1):before{background-color: rgba(0, 34, 204, 0.95);}
.mainArea .evolutionArea div ul li:nth-child(2n):before{background-color: rgba(0, 34, 204, 0.6);}
.mainArea .evolutionArea div ul li *{position: relative; z-index: 2;}
.mainArea .evolutionArea div ul li strong{height: 6.250rem; font-size: 3.000rem; font-weight: 700; line-height: 3.125rem; display: flex; justify-content: center; align-items: center; margin-bottom: 4.688rem;}
.mainArea .evolutionArea div ul li strong mark{color: #c01d3f;}
.mainArea .evolutionArea div ul li p{font-size: 1.875rem; line-height: 2.125rem;}
.mainArea .evolutionArea div > .imgBox{position: absolute; bottom: -9.063rem; left: 0; width: 95%; z-index: 1;}
.mainArea .evolutionArea div > .imgBox img{width: 100%;}



.functionArea h3{margin-bottom: 4.688rem;}
.functionArea .bx-wrapper .bx-viewport{ padding: 0 16.250rem; box-sizing: border-box;}
.functionArea .bx-wrapper .bx-viewport .slider > div{padding: 6.875rem 50.938rem 6.875rem 3.125rem; background-color: #1d1d1f; background-repeat: no-repeat; background-position: right top; background-size: 50.938rem; font-size: 1.875rem; color: white; opacity: 0.5; margin-right: 5.000rem;}
.functionArea .bx-wrapper .bx-viewport .slider > div.slider01{background-image: url('../images/function_img01.png');}
.functionArea .bx-wrapper .bx-viewport .slider > div.slider02{background-image: url('../images/function_img01.png');}
.functionArea .bx-wrapper .bx-viewport .slider > div.slider03{background-image: url('../images/function_img01.png');}
.functionArea .bx-wrapper .bx-viewport .slider > div b{display: flex; align-items: center; font-weight: 600; margin-bottom: 3.125rem;}
.functionArea .bx-wrapper .bx-viewport .slider > div b::before{content: ''; width: 10px; height: 10px; background-color: #0022cc; border-radius: 100%; margin-right: 12px;}
.functionArea .bx-wrapper .bx-viewport .slider > div p{font-weight: 700; line-height: 3.250rem; margin-bottom: 5.625rem;}
.functionArea .bx-wrapper .bx-viewport .slider > div[aria-hidden="false"]{opacity: 1;}



.productArea h3{margin-bottom: 9.375rem;}
.productArea > div{position: relative;}
.productArea > div > a{position: absolute; top: 1.250rem; font-size: 3.125rem; font-weight: 900;}
.productArea > div > a:nth-of-type(1){left: -4.063rem;}
.productArea > div > a:nth-of-type(2){right: -3.125rem;}
.productArea > div > a img{width: 1.875rem;}
.productArea .thumbPager{display: flex; align-items: center;}
.productArea .thumbPager li:not(:last-child){margin-right: 2.813rem;}
.productArea .thumbPager li a{display: block; font-size: 1.875rem; color: white; font-weight: 700; width: 1.250rem; height: 1.250rem; background-color: #0022cc; border-radius: 100%; text-indent: -9999px;}
.productArea .thumbPager li a.active{text-indent: 0; width: auto; height: auto; padding: 1.875rem 3.438rem; border-radius: 6.250rem;}
.productArea .slider img{margin: 0 auto;}
.productArea .slider p{font-size: 2.000rem; font-weight: 600; line-height: 3.500rem; position: absolute; left: 0; top: 4.375rem;}


.SpeciArea{background-color: #ededed;}
.SpeciArea > div h3{margin-bottom: 3.750rem;}
.SpeciArea > div .tabBtn{display: flex; margin-bottom: 9.688rem;}
.SpeciArea > div .tabBtn button:not(:last-child){margin-right: 1.875rem;}
.SpeciArea > div .tabBtn button{width: 18.125rem; height: 5.938rem; display: flex; justify-content: center; align-items: center; font-size: 1.875rem; font-weight: 700; color: white; background-color: #7e7e7e; border-radius: 6.250rem;}
.SpeciArea > div .tabBtn button.active{background-color: #0022cc;}
.SpeciArea > div > img{display: block; max-width: 100%; margin: 0 auto 12.813rem;}
.SpeciArea > div table caption{text-align: left; font-size: 3.063rem; font-weight: 700; margin-bottom: 3.750rem;}
.SpeciArea > div table tbody{width: 100%;}
.SpeciArea > div table tr{width: 100%; text-align: left;}
.SpeciArea > div table tr *{font-size: 1.500rem; line-height: 2.375rem;}
.SpeciArea > div table tr th:first-child{width: 24.063rem; font-weight: 700;}
.SpeciArea > div table tr > *:nth-child(n + 2){padding-left: 2.813rem; padding-right: 2.813rem; box-sizing: border-box;}
.SpeciArea > div table thead{border-top: 0.188rem solid black;}
.SpeciArea > div table thead th img{display: block; max-width: 100%;}
.SpeciArea > div table thead tr > *{padding-top: 2.500rem; padding-bottom: 4.063rem;}
.SpeciArea > div table tbody tr{border-top: 0.063rem solid black;}
.SpeciArea > div table tbody tr > *{padding-top: 1.250rem; padding-bottom: 1.250rem;}
.SpeciArea > div table tr .active{opacity: 1;}
.SpeciArea > div table tr > *{opacity: 0.3;}